body {
    background-color: #ccddff;
}
.app{
    text-align: center;
}
.container{
    background-color: blueviolet;
    width: 150px;
    
    
}
.header {
    text-align: center;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}